@use "../../../global";

.accordionTitle {
    border-radius: 2rem;
    background-color: global.$primary-color!important;
    color: white;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 1rem;
}

.subtitle {
    font-family: sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 2rem;
}

.primaryButton {
    background-color: global.$primary-color!important;
    border-radius: 2rem!important;
    padding: 1rem!important;
    margin-top: 2rem!important;
}

.removeButtonDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .removeIcon {
        color: white;
        font-size: 2rem;
        margin-right: 2rem;
        z-index: 1000;

        &:hover {
            cursor: pointer;
        }
    }

    @media (max-width: 992px) {
        .removeIcon {
            margin-left: 56px;
        }
    }

}


.buttonsRigth {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    margin-bottom: 2rem;
    gap: 1rem;

    .primaryButton {
        background-color: global.$primary-color;
        border-radius: 2rem;
        padding: 1rem;
        margin-top: 2rem;
    }
    
    .secondaryButton {
        border: 1px solid global.$primary-color;
        background-color: white;
        color: global.$primary-color;
        border-radius: 2rem;
        padding: 1rem;
        margin-top: 2rem;
    }
}