.container{
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    
    .step{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        color: var(--Neutral-600, #6F6C90);
        background-color: var(--Neutral-300, #EFF0F6); 
        border-radius: 10rem;
        
        &.active{
            color: white;
            background: var(--azul-escuro, #304186);
        }
    }

    .separator{
        width: 5rem;
        height: .5rem;
        border-radius: .8rem;
        background: var(--Neutral-300, #EFF0F6);

        &.active{
            background: var(--azul-escuro, #304186);
        }
    }
}