@use '../../global.scss';

.password-input-container{
    width: 100%;
    position: relative;
    .password-field{
        width: 100%;
        position: relative;
    }
    .eye-icon-div{
        position: absolute;
        top: 30%;
        right: 10%;

        .pass-icon{
            color: global.$gray;
        }
    }
}