.treeSelectDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;   
    padding: 16.5px 14px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px ;
    border-color: rgba(0, 0, 0, 0.23);

    .p-treeselect{
        width: 100%;

    }
}
.p-treeselect-panel{
    top: 45.5vh!important;
    left: 15.8vw!important;
    width: 30%!important;
    
    .p-tree-container{
        display: flex;
        flex-direction: column;

        .p-treenode{
            margin: 10px;
            .p-treenode-children{
                margin-left: 1rem;
            }
        }

    }
}